#root {
  max-width: 100%;
  margin: 0;  
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1380px;

  h1 {
    font-size: 6rem;
    margin: 0;
    color: rgb(63, 63, 63);
    margin-bottom: 40px;
  }

  .ant-tabs {
    width: 90%;
    max-width: 768px;
    margin: auto;

    .ant-upload-wrapper {
      width: 100%;
    }

    .add-btn {
      width: fit-content;
      font-size: 20px;
    }

    .delete-btn {
      color: #f74f4f;
      font-size: 15px;
    }

    input[type='tel'] {
      width: 40px;
      height: 20px;
      // background-color: #F6D4D2;
      color: black;
      border-radius: 10px;
    }

    .draws-container, .releases-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px;
      // width: 94%;
      max-width: 768px;
      border-radius: 25px;
      color: black;

      .draw-container, .release-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-inline: 40px;
        max-height: 300px;
        overflow-y: auto;

        .draw, .release {
          display: flex;
        }
      }
    }

    .draws-container {
      background-color: #A1A9FE;

      // .tesseract-container {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;

      //   input[type="file"] {
      //     width: 55%;
      //   }
      // }
    }

    .releases-container {
      background-color: #6BCFDC;

      .release {
        input:first-of-type {
          background-color: #f6d4d2;
        }
      }
    }
  }
}

// .left-container {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .right-container{
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   h1 {
//     font-family: "Bodoni MT Black";
//   }
// }

// .input-container {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

.check-button {
  width: 13rem;
  height: 3rem;
  background-color: #EEB5EB;
  color: black;
  font-weight: bold;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .main-container {
    // flex-direction: column;

    h1 {
      font-size: 3rem;
    }
  }
  .left-container {
    width: 100%;
    order: 1;
  }
  .right-container {
    width: 100%;
    order: 0;
  }
  .result-container {
    max-height: 250px;
  }
  .draw-container {
    max-height: 150px;
  }
  .release-container {
    max-height: 150px;
  }
  input[type="text"] {
    width: 9%;
    height: 17px;
  }
}