#root {
  margin: 0;  
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1380px;

  h1 {
    font-size: 6rem;
    margin: 0;
    color: rgb(63, 63, 63);
    margin-bottom: 40px;
  }

  .ant-tabs {
    width: 90%;
    max-width: 768px;
    margin: auto;

    .ant-upload-wrapper {
      width: 100%;
    }

    .add-btn {
      width: fit-content;
      font-size: 20px;
    }

    .delete-btn {
      color: #f74f4f;
      font-size: 15px;
    }
    
    input[type='tel'] {
      width: 32px;
      height: 20px;
      // background-color: #F6D4D2;
      color: black;
      border: 1px solid black;
      border-radius: 10px;
      background-color: white;
      margin-block: 1px;
      text-align: center;
      font-size: .9rem;
    }

    .draws-container, .releases-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px;
      // width: 94%;
      max-width: 768px;
      border-radius: 25px;
      color: black;
      position: relative;

      .draw-container, .release-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        overflow-y: auto;

        .draw, .release {
          display: flex;
        }
      }

      .clear-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 15px;

        @media (min-width: 425px) {
          margin: 20px;
        }
      }
    }

    .draws-container {
      background-color: #A1A9FE;
    
      .draw-container {
        padding-inline: 30px;
        max-height: 180px; // to show at least 5 entried

        @media (max-width: 425) {
          max-height: 150px;
        }
      }
    }

    .releases-container {
      background-color: #6BCFDC;

      .release-container{
        padding-inline: 10px;
        max-height: 250px;

        .release {
          input:first-of-type,input:last-of-type {
            background-color: #f6d4d2;
          }
        }
      }

    }

    .results-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      color: rgb(77, 77, 77);
      
      .result-container{
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;
        // max-height: 500px;
        overflow-y: auto;
        scrollbar-color: black lightgrey;
        
        .draw-match-container{
          width: 90%;
          border: 1px black dashed;
          text-align: left;
          padding: 1rem;
          background-color: lightgoldenrodyellow;
          border-radius: 20px;
        
          .draw-match-container h4{
            margin: .2rem;
            padding: 0;
        
            .release-match-container p{
              display: inline;
        
              .release-number {
                font-weight: bold;
                color: lightcoral;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    h1 {
      font-size: 3rem;
    }
  }
  // .result-container {
  //   max-height: 250px;
  // }
  // .draw-container {
  //   max-height: 150px;
  // }
  // .release-container {
  //   max-height: 150px;
  // }
}