.draws-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px black dashed;
    padding: 20px;
    width: 100%;
    background-color: #A1A9FE;
    border-radius: 25px;
    color: black;
    margin-bottom: 2rem;
    
    .draw-container{
        width: 100%;
        max-height: 300px;
        overflow-y: auto; /* Enable vertical scrollbar */
        scrollbar-color: black lightgrey;

        .draw {
            padding-bottom: 0.5em;
        }
    }
}


// h2 {
//     margin: 0;
// }