.draws-container {
    border: 1px black dashed;
    padding: 0.5em;
    width: 100%;
    background-color: #A1A9FE;
    border-radius: 25px;
    color: black;
    margin-bottom: 2rem;
}

.draw-container{
    max-height: 300px;
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-color: black lightgrey;
}

h2 {
    margin: 0;
}