.draws-container {
    border: 1px black dashed;
    padding: 0.5em;
    width: 100%;
    background-color: #A1A9FE;
    border-radius: 25px;
    color: black;
    margin-bottom: 2rem;
}

h2 {
    margin: 0;
}