.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid dashed;
}

th, td {
    width: 50px;
    padding: 8px;
    text-align: left;
    border: 1px solid black;
    color: black;
}

th {
  background-color: #A4D8FB;
}

tr:nth-child(odd) {
  background-color: #FD49A0;
}

tr:nth-child(even) {
  background-color: #B4FEE7;
}

th:first-child, td:first-child {
  text-align: center;
}
